.hero {
  max-height: 551px;
  width: 100%;
  text-align: center;
  padding: var(--margin-2xl) 0;
  font-size: 1.6rem;
  background-image: url("../../images/hero_background.jpg");
  background-size: cover;
  background-position: bottom;
  margin-bottom: 131px;
  background-color: #fff;
  background-color: var(--theme-color);
  background-blend-mode: multiply;

  @media screen and (min-width: 900px) {
    padding: var(--margin-3xl) 0;
  }
}
