.contentWrapper {
  display: flex;
  margin-top: var(--margin-l);
  width: 60%;

  @media screen and (max-width: 900px) {
    width: 100%;
  }
}

.center {
  justify-content: center;
}
.left {
  justify-content: flex-start;
}
.right {
  justify-content: flex-end;
}

.default {
  width: 75%;

  @media screen and (max-width: 900px) {
    width: 100%;
    padding: 0 var(--margin-l);
  }
}

.narrow {
  width: 30%;
}

.full {
  width: 100%;
  @media screen and (max-width: 900px) {
    padding: 0 var(--margin-l);
  }
}
