.hero {
  height: 104vw;
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  background-color: var(--footer-background);

  @media screen and (min-width: 900px) {
    height: 746px;
  }

  .imageBackground {
    background-image: url("../../images/hero_background_2.webp");
    background-size: cover;
    background-position: bottom;
    padding: var(--margin-3xl) 0;
    height: 450px;
  }

  .heroPlaceholder {
    width: 100%;
    aspect-ratio: 16/9;
    margin: 0 auto;
    position: relative;
    top: 40px;

    img {
      width: 100%;
      height: auto;
    }

    @media screen and (min-width: 900px) {
      width: 900px;
    }
  }
}
