.contactForm {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 2rem;
  color: #fff;
  font-weight: 800;
}

.input {
  display: flex;
  flex-direction: row;

  .inputField {
    appearance: none;
    border: none;
    box-shadow: none;
    width: 100%;

    border-radius: 0;
    height: var(--inputHeight);
    padding: var(--margin-xs) var(--margin-l);
    background-color: var(--inputBackgroundColor);
    color: var(--inputTextColor);

    &:focus {
      outline: none;
      background-color: var(--inputFocusBackground);
      color: var(--inputFocusTextColor);
    }
  }

  .submit {
    background-color: var(--theme-color);
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    padding: 0 var(--margin-l);
  }
}
