.section {
  width: 100%;
  background-color: #fff;
  color: var(--text-color);
  display: flex;
  justify-content: center;
}

.sectionDivider {
  width: 100%;
  height: 1px;
  background-color: var(--theme-color);
  margin: 32px 0;
}
